.banner__link {
  position: relative;
  display: block;
  padding: 245px 0;
  color: #ffffff;
  text-decoration: none;
  z-index: 1;
}

.banner__link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.2s ease;
}

.banner__link:hover::before {
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .banner__link {
    padding: 195px 0;
  }
}

@media (max-width: 1023px) {
  .banner__link {
    padding: 115px 0;
  }
}

@media (max-width: 767px) {
  .banner__link {
    padding: 33px 16px;
  }
}
