.banner__description {
  max-width: 360px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media (max-width: 767px) {
  .banner__description {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}


